* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

.hero {
	fill : #f00;
}

.handle {
	fill: #fff;
	opacity: 0.1;
	cursor: pointer;
}

.handle-x {
	cursor: ew-resize;
}

.handle-y {
	cursor: ns-resize;
}

.handle-xy {
	cursor: move;
}