/* line 1, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* line 9, ../scss/style.scss */
html {
  overflow: hidden;
}

/* line 13, ../scss/style.scss */
.hero {
  fill: #f00;
}

/* line 1, /Users/tim.wood/github/leveler/scss/_sidebar.scss */
aside {
  position: fixed;
  right: -300px;
  top: 40px;
  bottom: 0;
  background: #eee;
  border-left: 1px solid #aaa;
  width: 300px;
  padding: 10px;
  -webkit-transition: right 300ms;
  -moz-transition: right 300ms;
  -o-transition: right 300ms;
  transition: right 300ms;
}
/* line 12, /Users/tim.wood/github/leveler/scss/_sidebar.scss */
.show-sidebar aside {
  right: 0;
}
/* line 16, /Users/tim.wood/github/leveler/scss/_sidebar.scss */
aside .block {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
/* line 22, /Users/tim.wood/github/leveler/scss/_sidebar.scss */
aside h1 {
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 28, /Users/tim.wood/github/leveler/scss/_sidebar.scss */
aside .block-content {
  padding: 8px;
}
/* line 32, /Users/tim.wood/github/leveler/scss/_sidebar.scss */
aside button {
  margin: 2px;
}

/* line 1, /Users/tim.wood/github/leveler/scss/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #222;
  border-bottom: 1px solid #000;
}
/* line 10, /Users/tim.wood/github/leveler/scss/_header.scss */
header button {
  display: block;
}
/* line 14, /Users/tim.wood/github/leveler/scss/_header.scss */
header .left {
  width: 40%;
  position: absolute;
  top: 5px;
  left: 5px;
}
/* line 20, /Users/tim.wood/github/leveler/scss/_header.scss */
header .left button {
  float: left;
  margin-right: 5px;
}
/* line 26, /Users/tim.wood/github/leveler/scss/_header.scss */
header .right {
  width: 40%;
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 32, /Users/tim.wood/github/leveler/scss/_header.scss */
header .right button {
  float: right;
  margin-left: 5px;
}

/* line 1, /Users/tim.wood/github/leveler/scss/_chrome-ui.scss */
button {
  height: 30px;
  border: 1px solid #555;
  background: #444;
  color: #fff;
  padding: 4px 10px;
  line-height: 20px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 100;
}

/* line 1, /Users/tim.wood/github/leveler/scss/_stage.scss */
.stage {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: right 300ms;
  -moz-transition: right 300ms;
  -o-transition: right 300ms;
  transition: right 300ms;
}
/* line 9, /Users/tim.wood/github/leveler/scss/_stage.scss */
.show-sidebar .stage {
  right: 300px;
}

/* line 1, /Users/tim.wood/github/leveler/scss/_handles.scss */
.handle {
  fill: rgba(0, 0, 0, 0.3);
  stroke-color: #fff;
  stroke-width: 1;
  cursor: pointer;
  display: none;
}
/* line 8, /Users/tim.wood/github/leveler/scss/_handles.scss */
g:hover .handle {
  display: block;
}

/* line 13, /Users/tim.wood/github/leveler/scss/_handles.scss */
.handle-x {
  cursor: ew-resize;
}

/* line 17, /Users/tim.wood/github/leveler/scss/_handles.scss */
.handle-y {
  cursor: ns-resize;
}

/* line 21, /Users/tim.wood/github/leveler/scss/_handles.scss */
.handle-xy {
  cursor: move;
}

/* line 10, /Users/tim.wood/github/leveler/scss/_types.scss */
.is-floor {
  background: #553300;
  border-color: rgba(0, 0, 0, 0.5);
}
/* line 5, /Users/tim.wood/github/leveler/scss/_types.scss */
.is-floor .type-color {
  fill: #553300;
}

/* line 14, /Users/tim.wood/github/leveler/scss/_types.scss */
.is-rope {
  background: #443388;
  border-color: rgba(0, 0, 0, 0.5);
}
/* line 5, /Users/tim.wood/github/leveler/scss/_types.scss */
.is-rope .type-color {
  fill: #443388;
}

/* line 18, /Users/tim.wood/github/leveler/scss/_types.scss */
.is-shelf {
  background: #cc2266;
  border-color: rgba(0, 0, 0, 0.5);
}
/* line 5, /Users/tim.wood/github/leveler/scss/_types.scss */
.is-shelf .type-color {
  fill: #cc2266;
}

/* line 22, /Users/tim.wood/github/leveler/scss/_types.scss */
.is-burner {
  background: #ff4400;
  border-color: rgba(0, 0, 0, 0.5);
}
/* line 5, /Users/tim.wood/github/leveler/scss/_types.scss */
.is-burner .type-color {
  fill: #ff4400;
}

/* line 26, /Users/tim.wood/github/leveler/scss/_types.scss */
.hint {
  fill: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
