header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: #222;
	border-bottom: 1px solid #000;

	button {
		display: block;
	}

	.left {
		width: 40%;
		position: absolute;
		top: 5px;
		left: 5px;

		button {
			float: left;
			margin-right: 5px;
		}
	}

	.right {
		width: 40%;
		position: absolute;
		top: 5px;
		right: 5px;

		button {
			float: right;
			margin-left: 5px;
		}
	}
}
