aside {
	position: fixed;
	right: -300px;
	top: 40px;
	bottom: 0;
	background: #eee;
	border-left: 1px solid #aaa;
	width: 300px;
	padding: 10px;
	@include transition(right 300ms);

	.show-sidebar & {
		right: 0;
	}

	.block {
		background: #fff;
		border: 1px solid #ddd;
		margin-bottom: 10px;
	}

	h1 {
		font-size: 16px;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}

	.block-content {
		padding: 8px;
	}

	button {
		margin: 2px;
	}

	.attr {
		line-height: 24px;
		height: 24px;

		+ .attr {
			margin-top: 5px;
		}

		input {
			background: #eee;
			border: 1px solid #ddd;
			line-height: 16px;
			padding: 4px 5px;
			width: 100px;
			float: right;
			border-radius: 3px;

			&:focus {
				outline: none;
				border-color: #999;
			}
		}

		label {
			display: block;
			height: 40px;
			margin-right: 110px;
			text-align: right;
		}
	}
}
