* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: Helvetica;
}

html {
	overflow: hidden;
}

.hero {
	fill : #f00;
}

@import "compass";
@import "sidebar";
@import "header";
@import "chrome-ui";
@import "stage";
@import "handles";
@import "types";
